{% extends "layouts/base.html" %}

{% block title %} Gestion Estaciones {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
{% endblock stylesheets %}

{% block content %}

<br>
<br>
<div class="content">
    <div class="row">
        <p>
            <a href="javascript:;" onclick="frmNuevo();" data-toggle="tooltip" title="Crear Estacion" class="btn btn-inverse btn-icon btn-circle" data-original-title="Crear Estacion"><i class="tim-icons icon-simple-add"></i></a>
        </p>
    </div>
    {% csrf_token %}

    {% for error in errors  %}
        <div class="alert alert-danger mb-4" role="alert">
            <strong>{{ error }}</strong>
        </div>
    {% endfor %}

    <form id="formEstacion">

        <div class="row">
            <div class="col-lg-6">
                <div class="mb-4">
                    <div class="form-group">
                        <label>Seleccione Cliente</label>
                        {{ form.clientes }}
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="mb-4">
                    <div class="form-group">
                        <label>Seleccione Plataforma IoT</label>
                        {{ form.platafromas }}
                    </div>
                </div>
            </div>
        </div>
        <div class=" row justify-content-md-center">
            <button onclick="getConsultaEstacionesS();" type="button" class="btn btn-success">Consultar</button>
        </div>
    </form>
    <br>
    <div class="windows8" style="display: none;">
        <div class="wBall" id="wBall_1">
            <div class="wInnerBall"></div>
        </div>
        <div class="wBall" id="wBall_2">
            <div class="wInnerBall"></div>
        </div>
        <div class="wBall" id="wBall_3">
            <div class="wInnerBall"></div>
        </div>
        <div class="wBall" id="wBall_4">
            <div class="wInnerBall"></div>
        </div>
        <div class="wBall" id="wBall_5">
            <div class="wInnerBall"></div>
        </div>
    </div>

    <br>

    <div class="row" id="divEstacionTable">
        <div class="col-md-12">
            <div class="card ">
                <div class="card-header">
                    <h4 class="card-title" id="titleEstacionTable">Estaciones</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table tablesorter " id="estacionTable">
                            <thead class="text-primary">
                                <tr>
                                    <th>ID ESTACION</th>
                                    <th>ESTACION</th>
                                    <th>PLACA ACTIVO</th>
                                    <th>DETALLE</th>
                                    <th>ENCARGADO</th>
                                    <th>AÑO INSTALACIÓN</th>
                                    <th>UBICACIÓN</th>
                                    <th>LINK UBICACIÓN</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- MODAL ESTACION -->
<div class="modal fade in" id="estacionModal" tabindex="-1" role="dialog" aria-labelledby="estacionModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content card">
            <form id="frmEstacion" data-parsley-validate="true" onsubmit="return false;">
                <div class="modal-header">
                    <h5 class="card-title" id="estacionModalLabel">Crear Estacion</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="mb-4">
                                <div class="form-group">
                                    <label>Seleccione Plataforma IoT</label>
                                    {{ form.platafromas}}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="mb-4">
                                <div class="form-group">
                                    <label>Seleccione Cliente</label>
                                    {{ form.clientes}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div id="divRed" class="col-lg-6">
                            <div class="mb-4">
                                <div class="form-group">
                                    <label>Seleccione Red</label>
                                    <select id="id_red" class="form-control selectpicker" data-live-search="true" data-style="btn-success" name="state">
                                        <option selected disabled value="0">Seleccione</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="mb-4">
                                <div class="form-group">
                                    <label>Seleccione estación/dispositivo/equipo</label>
                                    <select id="id_dispositivo" class="form-control selectpicker" data-live-search="true" data-style="btn-success" name="state" required data-parsley-validate="true">
                                        <option selected disabled value="0">Seleccione</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="mb-4">
                                <div class="form-group">
                                    <label>Placa Activo</label>
                                    <input type="text" class="form-control" id="placaActivo" name="placaActivo" placeholder="Placa Activo" required data-parsley-validate="true">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="mb-4">
                                <div class="form-group">
                                    <label>Detalle Equipo</label>
                                    <textarea id="detalle" name="detalle" class="form-control" required data-parsley-validate="true"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>            
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="mb-4">
                                <div class="form-group">
                                    <label>Persona Encargada</label>
                                    <input type="text" id="persona" name="persona" class="form-control" required data-parsley-validate="true">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="mb-4">
                                <div class="form-group">
                                    <label>Año instalación</label>
                                    <input type="number" max="2030" min="2015" id="anoInstalacion" name="anoInstalacion" class="form-control" required data-parsley-validate="true">
                                </div>
                            </div>
                        </div>
                    </div>            
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="mb-4">
                                <div class="form-group">
                                    <label>Ubicación</label>
                                    <input type="text" id="ubicacion" name="ubicacion" class="form-control" required data-parsley-validate="true">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="mb-4">
                                <div class="form-group">
                                    <label>Link Ubicación Maps</label>
                                    <input type="url" id="linkUbicacion" name="linkUbicacion" placeholder="https://maps.app.goo.gl/" class="form-control" required data-parsley-validate="true">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                    <button id="btnCrear" type="submit" class="btn btn-success">Crear</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock content %}

{% block javascripts %}
<script>
    var accion = 0;

    function frmNuevo() {
        accion = 1;
        $('#estacionModalLabel').text('Crear Estacion');
        $('#btnCrear').show();
        $('#estacionModal').modal('show');
    }
    
    function getConsultaEstacionesS() {
        $("#divEstacionTable").hide();

        $.ajax({
            type: "POST",
            url: "{% url 'get-consulta-estaciones' %}",
            data: {
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                'frm': JSON.stringify(general.obtenerFrm("formEstacion"))
            },
            success: function(data) {
                $("#divEstacionTable").show();

                if (data.datos.length < 1) {
                    $('#estacionTable').hide();
                    general.showNotificationOwn('top', 'right', 'success', 'Sin Informacion', 'ATENCION');
                } else {
                    if ($.fn.dataTable.isDataTable('#estacionTable')) {
                        var myTable = $('#estacionTable').DataTable().clear().rows.add(data.datos).draw();

                    } else {
                        var myTable = $('#estacionTable').DataTable({
                            "language": {
                                "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
                            },
                            "responsive": true,
                            "dom": 'Bfrtip',
                            "buttons": [{
                                    "extend": 'copyHtml5',
                                    "exportOptions": {
                                        "orthogonal": 'export'
                                    }
                                },
                                {
                                    "extend": 'excelHtml5',
                                    "exportOptions": {
                                        "orthogonal": 'export'
                                    }
                                },
                                {
                                    "extend": 'pdfHtml5',
                                    "exportOptions": {
                                        "orthogonal": 'export'
                                    }
                                }
                            ]
                        }).clear().rows.add(data.datos).draw();
                    }
                    $('#estacionTable').show();
                }
            }
        });
    }

    $(document).ready(function() {
        $("#divRed").hide();
        $('#divEstacionTable').hide();

        $("#id_cliente").change(function() {
            var clienteId = $(this).val();

            $("#divRed").show();
            $.ajax({
                type: "POST",
                url: "{% url 'get-origen-cliente' %}",
                data: {
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                    'id_cliente': clienteId
                },
                success: function(data) {
                    $(".windows8").hide();
                    console.log(data.datos);
                    let html_data = '<option  selected disabled value="0">Seleccione</option>';
                    data.datos.forEach(function(data) {
                        html_data += `<option value="${data[0]}">${data[1]}</option>`
                    });
                    $("#id_plataforma").html(html_data);
                    $("#id_plataforma").selectpicker("refresh");
                }
            });
            

        });

        $('#frmEstacion #id_red').attr('required', 'false');
        $('#frmEstacion #id_red').attr('data-parsley-validate', 'false');

        $("#frmEstacion #id_plataforma").change(function() {
            var plataformaId = $(this).val();
            $(".windows8").show();

            if (plataformaId == 4) {
                $('#frmEstacion #id_red').attr('required', 'true');
                $('#frmEstacion #id_red').attr('data-parsley-validate', 'true');
                $("#frmEstacion #divRed").show();
                $.ajax({
                    type: "POST",
                    url: "{% url 'get-red' %}",
                    data: {
                        'csrfmiddlewaretoken': '{{ csrf_token }}',
                        'id': plataformaId
                    },
                    success: function(data) {
                        $(".windows8").hide();
                        console.log(data.datos);
                        let html_data = '<option  selected disabled value="0">Seleccione</option>';
                        data.datos.forEach(function(data) {
                            html_data += `<option value="${data[0]}">${data[1]}</option>`
                        });
                        $("#frmEstacion #id_red").html(html_data);
                        $("#frmEstacion #id_red").selectpicker("refresh");
                    }
                });
            } else {
                $("#divRed").hide();
                $('#frmEstacion #id_red').attr('required', 'false');
                $('#frmEstacion #id_red').attr('data-parsley-validate', 'false');
                $.ajax({
                    type: "POST",
                    url: "{% url 'get-dispositivo' %}",
                    data: {
                        'csrfmiddlewaretoken': '{{ csrf_token }}',
                        'id': plataformaId
                    },
                    success: function(data) {
                        $(".windows8").hide();
                        console.log(data.datos);
                        let html_data = '<option  selected disabled value="0">Seleccione</option>';
                        data.datos.forEach(function(data) {
                            html_data += `<option value="${data[0]}">${data[1]}</option>`
                        });
                        $("#id_dispositivo").html(html_data);
                        $("#id_dispositivo").selectpicker("refresh");
                    }
                });
            }

        });

        $('#frmEstacion').parsley().on('form:submit', function () {
            if (accion == 1) {
                crearFinca();
            } else {
                modificarFinca();
            }
        });

        {% comment %} $('#formEstacion').parsley().on('form:submit', function () {
            getConsultaEstacionesS();
        });
         {% endcomment %}
    });
</script>
{% endblock javascripts %}