{% extends "layouts/base.html" %}

{% block title %} Usuarios {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<style>
    .input-group-addon {
        color: #00f2c3;
        border-color: #00f2c3;
        border: none
    }

    .input-group-addon:focus {
        outline: 0 !important
    }
</style>
{% endblock stylesheets %}

{% block content %}

<div class="content">
    <div class="row">
        <p>
            <a href="javascript:;" onclick="frmNuevo();" data-toggle="tooltip" title="Crear Estacion" class="btn btn-inverse btn-icon btn-circle" data-original-title="Crear Estacion"><i class="tim-icons icon-simple-add"></i></a>
        </p>
    </div>
    <form id="form">
        {% csrf_token %}

        {% for error in errors  %}
        <div class="alert alert-danger mb-4" role="alert">
            <strong>{{ error }}</strong>
        </div>
        {% endfor %}

        <div class="row justify-content-md-center">
            <div class="col-lg-4">
                <!-- <input type="button" value="Cargar" class="form-control btn btn-success" id="form_btn"> -->
            </div>
        </div>
    </form>
    <br>
    <div class="row col-lg-12">
        <div class="table-responsive">
            <table class="table tablesorter table-striped" id="usuarioTable">
                <thead class="text-primary">
                    <tr>
                        <th>USUARIO</th>
                        <th>PERFIL</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>



<!-- MODAL ESTACION -->
<div class="modal fade in" id="NuevoUsuarioModal" tabindex="-1" role="dialog" aria-labelledby="NuevoUsuarioModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content card">
            <form id="frmNuevoUsuario" data-parsley-validate="true" onsubmit="return false;">
                <div class="modal-header">
                    <h5 class="card-title" id="NuevoUsuarioModalLabel">Crear Nuevo Usuario</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="mb-4">
                                <div class="form-group">
                                    <label>Numero de Documento</label>
                                    <input type="text" class="form-control" id="placaActivo" name="placaActivo" placeholder="Numero de Documento" required data-parsley-validate="true">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="mb-4">
                                <div class="form-group">
                                    <label>Nombre Usuario</label>
                                    <input type="text" class="form-control" id="placaActivo" name="placaActivo" placeholder="Nombre Usuario" required data-parsley-validate="true">
                                </div>
                            </div>
                        </div>
                    </div>        
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="mb-4">
                                <div class="form-group">
                                    <label>Direccion Casa:</label>
                                    <input type="text" id="ubicacion" name="ubicacion" class="form-control" placeholder="Direccion Casa" required data-parsley-validate="true">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="mb-4">
                                <div class="form-group">
                                    <label>*La contraseña por defecto sera el numero de documento del usuario para su primer ingreso, despues le solicitara cambio de esta.</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                    <button id="btnCrear" type="submit" class="btn btn-success">Crear</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script>
    var accion = 1;
    var idCli = 0;

    function frmNuevo() {
        accion = 1;
        $('#NuevoUsuarioModalLabel').text('Crear Nuevo Usuario');
        $('#btnCrear').show();
        $('#NuevoUsuarioModal').modal('show');
    }
    
    function datos() {
        $.ajax({
            type: "POST",
            url: "{% url 'get-usuarios' %}",
            data: {
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            success: function(data) {

                if (data.usuarios.length < 1) {
                    $('#usuarioTable').hide();
                    general.showNotificationOwn('top', 'right', 'success', 'Sin Informacion', 'ATENCION');
                } else {
                    if ($.fn.dataTable.isDataTable('#usuarioTable')) {
                        var myTable = $('#usuarioTable').DataTable().clear().rows.add(data.usuarios).draw();

                    } else {
                        var myTable = $('#usuarioTable').DataTable({
                            "language": {
                                "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
                            },
                            "responsive": true,
                            "dom": 'Bfrtip',
                            "buttons": [{
                                    "extend": 'copyHtml5',
                                    "text": "<i class='tim-icons icon-single-copy-04'></i> Copiar",
                                    "exportOptions": {
                                        "orthogonal": 'export'
                                    }
                                },
                                {
                                    "extend": 'excelHtml5',
                                    "text": "<i class='tim-icons icon-cloud-download-93'></i> Excel",
                                    "exportOptions": {
                                        "orthogonal": 'export'
                                    }
                                },
                                {
                                    "extend": 'pdfHtml5',
                                    "text": "<i class='tim-icons icon-book-bookmark'></i> PDF",
                                    "exportOptions": {
                                        "orthogonal": 'export'  
                                    }
                                }
                            ]
                        }).clear().rows.add(data.usuarios).draw();
                    }
                    $('#usuarioTable').show();
                }
            }
        });

    }

    function perfil(usuario) {
        $.ajax({
            type: "POST",
            url: "{% url 'get-perfil' %}",
            data: {
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            success: function(data) {
                perfiles = [{text: 'Seleccione', value: ''}]
                data.datos.forEach(function(perfil) {
                    perfiles.push({text: perfil[1], value: perfil[0]})
                });

                bootbox.prompt({
                    title: 'This is a prompt with select!',
                    inputType: 'select',
                    inputOptions: perfiles,
                    callback: function (result) {
                        if (result != null) {
                            setPerfilUsuario(usuario, result)
                        }
                    }
                });
            }
        });

    }

    function setPerfilUsuario(usuario, perfil) {
        $.ajax({
            type: "POST",
            url: "{% url 'set-perfil-usuario' %}",
            data: {
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                'usuario': usuario,
                'perfil': perfil
            },
            success: function(data) {
                general.showNotificationOwn('top', 'center', 'success', 'Atención', 'Perfil Modificado');
                datos();
            }
        });

    }
    
    $(document).ready(function() {
        datos();
    });
</script>

{% endblock javascripts %}