{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<style>
    .input-group-addon {
        color: #00f2c3;
        border-color: #00f2c3;
        border: none
    }

    .input-group-addon:focus {
        outline: 0 !important
    }
</style>
{% endblock stylesheets %}

{% block content %}

<div class="content">
    <div class="row"></div>
    {# <h1>Hello {{ firstname }}</h1> #}
    <form id="formGrafica">
        {% csrf_token %}

        {% for error in errors  %}
        <div class="alert alert-danger mb-4" role="alert">
            <strong>{{ error }}</strong>
        </div>
        {% endfor %}

        <div class="row">
            <div class="col-lg-6">
                <div class="mb-4">
                    <div class="form-group">
                        <label>Seleccione Plataforma</label>
                        {{ form.platafromas}}
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="mb-4">
                    <div class="form-group">
                        <label>Selecciones dispositivo/estacion</label>
                        <select id="id_dispositivo" class="form-control selectpicker" data-live-search="true" data-style="btn-success" name="state">
                            <option selected disabled value="0">Seleccione</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <div class="mb-4">
                    <div class="form-group">
                        <label>Seleccione Sensor</label>
                        <select id="id_sensor" class="form-control selectpicker" data-live-search="true" data-style="btn-success" name="state">
                            <option selected disabled value="0">Seleccione</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="mb-4">
                    <div class="form-group">
                        <label>Seleccione fecha</label>
                        <div class="input-group date datepicker" data-date-format="yyyy-mm-dd">
                            <span class="input-group-addon"><i class="tim-icons icon-calendar-60"></i></span>
                            <input type="text" class="form-control" data-style="btn-success" id="day" name="day" placeholder="yyyy-mm-dd">
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-md-center">
            <div class="col-lg-4">
                <input type="button" value="Graficar" class="form-control btn btn-success" id="form_btn">
            </div>
            <div class="col-lg-4">
                <input type="button" value="Descargar Excel" class="form-control btn btn-success" id="excel_btn">
            </div>
        </div>

    </form>
    <br>
    <div class="graficas">
        <div class="row">
            <div class="col-12">
                <div class="card card-chart">
                    <div class="card-header ">
                        <div class="row">
                            <div class="col-sm-6 text-left">
                                <h2 id="title-sensor" class="card-title">Performance</h2>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="chart-area">
                            <canvas id="chartBig1"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script>
    var x = 'hola';
    var chart_chartBig1;
    var medida;

    $(document).ready(function() {
        // Javascript method's body can be found in assets/js/demos.js
        $(".graficas").hide()
        $(".datepicker").datepicker({
            todayHighlight: !0,
            language: 'es',
            autoclose: !0,
            endDate: '+2',
            orientation: "bottom left"
        });


        $("#id_plataforma").change(function() {
            var platafromaId = $(this).val();

            $.ajax({
                type: "POST",
                url: "{% url 'get-dispositivo' %}",
                data: {
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                    'id': platafromaId
                },
                success: function(data) {
                    console.log(data.datos);
                    let html_data = '<option  selected disabled value="0">Seleccione</option>';
                    data.datos.forEach(function(data) {
                        html_data += `<option value="${data[0]}">${data[1]}</option>`
                    });
                    $("#id_dispositivo").html(html_data);
                    $("#id_dispositivo").selectpicker("refresh");
                }
            });

        });

        $("#id_dispositivo").change(function() {
            var dispositivoId = $(this).val();

            $.ajax({
                type: "POST",
                url: "{% url 'get-sensors' %}",
                data: {
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                    'id': dispositivoId,
                    'id_plataforma': $('#id_plataforma').val()
                },
                success: function(data) {
                    console.log(data.datos);
                    let html_data = '<option  selected disabled value="0">Seleccione</option>';
                    data.datos.forEach(function(data) {
                        html_data += `<option value="${data[0]}">${data[1]}</option>`
                    });
                    $("#id_sensor").html(html_data);
                    $("#id_sensor").selectpicker("refresh");
                }
            });

        });

        $("#form_btn").click(function() {
            var dispositivoId = $('#id_plataforma').val();
            var platafromaId = $('#id_dispositivo').val();
            var sensorId = $('#id_sensor').val();
            var day = $('#day').val();
            $.ajax({
                type: "POST",
                url: "{% url 'process-form' %}",
                data: {
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                    'id_dispositivo': dispositivoId,
                    'id_plataforma': platafromaId,
                    'id_sensor': sensorId,
                    'day': day
                },
                success: function(data) {
                    if (data.vertical.length == 0) {
                        general.showNotificationOwn('top', 'right', 'warning', 'Datos Incompletos o Sin Informacion', 'ERROR')
                        $(".graficas").hide()
                    } else {
                        $(".graficas").show()
                        $('#title-sensor').text('Grafico de sensor ' + $('#id_sensor option:selected').text() + ' - Fecha ' + $('#day').val());
                        general.initDashboardPageCharts('chartBig1', data.vertical, data.horizontal, "Valor del sensor " + data.medida, data.medida, 'Hora');
                    }
                }
            });
        });

        $("#excel_btn").click(function() {
            general.showNotificationOwn('top', 'right', 'success', 'Excel', 'Generando', 'tim-icons icon-cloud-download-93')
            var dispositivoId = $('#id_plataforma').val();
            var platafromaId = $('#id_dispositivo').val();
            var sensorId = $('#id_sensor').val();
            var day = $('#day').val();
            data = 'csrfmiddlewaretoken={{ csrf_token }}&id_dispositivo=' + dispositivoId + '&id_plataforma=' + platafromaId + '&id_sensor=' + sensorId + '&day=' + day;
            xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                var a, today;
                if (xhttp.readyState === 4 && xhttp.status === 200) {
                    a = document.createElement('a');
                    a.href = window.URL.createObjectURL(xhttp.response);
                    today = new Date();
                    a.download = "data_" + today.toDateString().split(" ").join("_") + ".xls";
                    a.style.display = 'none';
                    document.body.appendChild(a);
                    return a.click();
                }
            };
            xhttp.open("POST", "/download-excel", true);
            xhttp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
            xhttp.responseType = 'blob';
            xhttp.send(data);
        });

    });
</script>

{% endblock javascripts %}