{% extends "layouts/base.html" %}

{% block title %} Perfil {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<style>
    .input-group-addon {
        color: #00f2c3;
        border-color: #00f2c3;
        border: none
    }

    .input-group-addon:focus {
        outline: 0 !important
    }
</style>
{% endblock stylesheets %}

{% block content %}

<div class="content">
    <div class="row">
        <p>
            <a href="javascript:;" onclick="frmPerfil();" data-toggle="tooltip" title="Crear Perfil" class="btn btn-inverse btn-icon btn-circle" data-original-title="Crear Perfil"><i class="tim-icons icon-pencil"></i></a>
        </p>
    </div>
    <form id="form">
        {% csrf_token %}

        {% for error in errors  %}
        <div class="alert alert-danger mb-4" role="alert">
            <strong>{{ error }}</strong>
        </div>
        {% endfor %}

        <div class="row justify-content-md-center">
            <div class="col-lg-4">
                <!-- <input type="button" value="Cargar" class="form-control btn btn-success" id="form_btn"> -->
            </div>
        </div>
    </form>
    <br>
    <div class="row col-lg-12">
        <div class="table-responsive">
            <table class="table tablesorter table-striped" id="perfilTable">
                <thead class="text-primary">
                    <tr>
                        <th>PERFIL</th>
                        <th>PERMISOS</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- MODAL PERMISOS -->
<div class="modal" id="permisoModal" tabindex="-1" role="dialog" aria-labelledby="permisoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content card">
            <div class="modal-header">
                <h5 class="card-title">Permisos</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table tablesorter " id="permisoTable">
                        <thead class="text-primary">
                            <tr>
                                <th>NOMBRE</th>
                                <th>DESCRIPCION</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script>
    var accion = 1;
    var idPerfil = 0;
    
    function datos() {
        $.ajax({
            type: "POST",
            url: "{% url 'get-perfiles' %}",
            data: {
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            success: function(data) {

                if (data.perfiles.length < 1) {
                    $('#perfilTable').hide();
                    general.showNotificationOwn('top', 'right', 'success', 'Sin Informacion', 'ATENCION');
                } else {
                    if ($.fn.dataTable.isDataTable('#perfilTable')) {
                        var myTable = $('#perfilTable').DataTable().clear().rows.add(data.perfiles).draw();

                    } else {
                        var myTable = $('#perfilTable').DataTable({
                            "language": {
                                "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
                            },
                            "responsive": true,
                            "dom": 'Bfrtip',
                            "buttons": [{
                                    "extend": 'copyHtml5',
                                    "text": "<i class='tim-icons icon-single-copy-04'></i> Copiar",
                                    "exportOptions": {
                                        "orthogonal": 'export'
                                    }
                                },
                                {
                                    "extend": 'excelHtml5',
                                    "text": "<i class='tim-icons icon-cloud-download-93'></i> Excel",
                                    "exportOptions": {
                                        "orthogonal": 'export'
                                    }
                                },
                                {
                                    "extend": 'pdfHtml5',
                                    "text": "<i class='tim-icons icon-book-bookmark'></i> PDF",
                                    "exportOptions": {
                                        "orthogonal": 'export'  
                                    }
                                }
                            ]
                        }).clear().rows.add(data.perfiles).draw();
                    }
                    $('#perfilTable').show();
                }
            }
        });

    }

    function frmPerfil() {
        bootbox.prompt({
            title: 'Nombre perfil',
            inputType: 'text',
            callback: function(result) {
                if (result != null) {
                    setPerfil(result);
                }
            }
        });
    }

    function setPerfil(perfil) {
        $.ajax({
            type: "POST",
            url: "{% url 'set-perfil' %}",
            data: {
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                'perfil': perfil
            },
            success: function(data) {
                general.showNotificationOwn('top', 'center', 'success', 'Atención', 'Perfil Creado');
                datos();
            }
        });

    }
    
    function getPermisos(id) {
        idPerfil = id;
        $.ajax({
            type: "POST",
            url: "{% url 'get-permisos' %}",
            data: {
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                'perfil': id
            },
            success: function(data) {

                if (data.permisos.length < 1) {
                    $('#permisoTable').hide();
                    general.showNotificationOwn('top', 'right', 'success', 'Sin Informacion', 'ATENCION');
                } else {
                    $("#permisoModal").modal('show');
                    if ($.fn.dataTable.isDataTable('#permisoTable')) {
                        var myTable = $('#permisoTable').DataTable().clear().rows.add(data.permisos).draw();

                    } else {
                        var myTable = $('#permisoTable').DataTable({
                            "language": {
                                "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
                            },
                            "responsive": true,
                            "dom": 'Bfrtip',
                            "buttons": [{
                                    "extend": 'copyHtml5',
                                    "text": "<i class='tim-icons icon-single-copy-04'></i> Copiar",
                                    "exportOptions": {
                                        "orthogonal": 'export'
                                    }
                                },
                                {
                                    "extend": 'excelHtml5',
                                    "text": "<i class='tim-icons icon-cloud-download-93'></i> Excel",
                                    "exportOptions": {
                                        "orthogonal": 'export'
                                    }
                                },
                                {
                                    "extend": 'pdfHtml5',
                                    "text": "<i class='tim-icons icon-book-bookmark'></i> PDF",
                                    "exportOptions": {
                                        "orthogonal": 'export'  
                                    }
                                }
                            ]
                        }).clear().rows.add(data.permisos).draw();
                    }
                    $('#permisoTable').show();
                }
            }
        });

    }

    function setPermiso(permiso) {
        status = $('#permiso' + permiso).is(":checked") ?  1 : 0;
        $.ajax({
            type: "POST",
            url: "{% url 'set-permiso' %}",
            data: {
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                'perfil': idPerfil,
                'permiso': permiso,
                'status': status
            },
            success: function(data) {
                general.showNotificationOwn('top', 'center', 'success', 'Atención', 'Permiso Modificado');
                datos();
            }
        });

    }
    
    $(document).ready(function() {
        datos();
    });
</script>

{% endblock javascripts %}