{% extends "layouts/base.html" %}

{% block title %} Visor de Servicio {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<style>
    .input-group-addon {
        color: #00f2c3;
        border-color: #00f2c3;
        border: none
    }

    .input-group-addon:focus {
        outline: 0 !important
    }
</style>
{% endblock stylesheets %}

{% block content %}

<div class="content">
    <form id="form">
        {% csrf_token %}

        {% for error in errors  %}
        <div class="alert alert-danger mb-4" role="alert">
            <strong>{{ error }}</strong>
        </div>
        {% endfor %}

        <div class="row justify-content-md-center">
            <div class="col-lg-4">
                <!-- <input type="button" value="Cargar" class="form-control btn btn-success" id="form_btn"> -->
            </div>
        </div>
    </form>
    <br>
    <div class="row col-lg-12">
        <div class="table-responsive">
            <table class="table tablesorter table-striped" id="clientesTable">
                <thead class="text-primary">
                    <tr>
                        <th>CLIENTE</th>
                        <th>GRUPO</th>
                        <th>CANTIDAD STOCK</th>
                        <th>LINK INDICADORES SERVICIO</th>
                        <th>LINK DE CONSUMO</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- MODAL LINK -->
<div class="modal fade in" id="linkModal" tabindex="-1" role="dialog" aria-labelledby="linkModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content card">
            <div class="modal-header">
                <h5 class="card-title">LINK PUBLICO</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="input-group">
                        <span id="copyButton" class="input-group-addon btn" title="Click to copy">
                            <i class="fa fa-clipboard" aria-hidden="true"></i>
                        </span>
                        <input type="text" id="copyTarget" class="form-control" value="mylinkTEST.com">
                        <span class="copied">Copied !</span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script>
    var accion = 1;
    var idCli = 0;
    var idGrupo = 0;

    function copyToClipboard() {
        var target = document.getElementById("copyTarget");

        // select the content
        var currentFocus = document.activeElement;

        target.focus();
        target.setSelectionRange(0, target.value.length);

        // copy the selection
        var succeed;

        try {
        succeed = document.execCommand("copy");
        } catch (e) {
        console.warn(e);

        succeed = false;
        }

        // Restore original focus
        if (currentFocus && typeof currentFocus.focus === "function") {
            currentFocus.focus();
        }

        if (succeed) {
            $(".copied").animate({ top: -25, opacity: 0 }, 700, function() {
                $(this).css({ top: 0, opacity: 1 });
            });
        }

        return succeed;
    }
    
    function datos() {
        $.ajax({
            type: "POST",
            url: "{% url 'get-clientes-stock' %}",
            data: {
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            success: function(data) {

                if (data.clientes.length < 1) {
                    $('#clientesTable').hide();
                    general.showNotificationOwn('top', 'right', 'success', 'Sin Informacion', 'ATENCION');
                } else {
                    if ($.fn.dataTable.isDataTable('#clientesTable')) {
                        var myTable = $('#clientesTable').DataTable().clear().rows.add(data.clientes).draw();

                    } else {
                        var myTable = $('#clientesTable').DataTable({
                            "language": {
                                "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
                            },
                            "responsive": true,
                            "dom": 'Bfrtip',
                            "buttons": [{
                                    "extend": 'copyHtml5',
                                    "text": "<i class='tim-icons icon-single-copy-04'></i> Copiar",
                                    "exportOptions": {
                                        "orthogonal": 'export'
                                    }
                                },
                                {
                                    "extend": 'excelHtml5',
                                    "text": "<i class='tim-icons icon-cloud-download-93'></i> Excel",
                                    "exportOptions": {
                                        "orthogonal": 'export'
                                    }
                                },
                                {
                                    "extend": 'pdfHtml5',
                                    "text": "<i class='tim-icons icon-book-bookmark'></i> PDF",
                                    "exportOptions": {
                                        "orthogonal": 'export'  
                                    }
                                }
                            ]
                        }).clear().rows.add(data.clientes).draw();
                    }
                    $('#clientesTable').show();
                }
            }
        });

    }

    function linkAccesoPublico(id, grupo) {
        $.ajax({
            type: "POST",
            url: "{% url 'get-token-publico' %}",
            data: {
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                'data': JSON.stringify({'id': id, 'grupo': grupo})
            },
            success: function(data) {
                $('#copyTarget').val("https://appgricultor.com/public/visorServicio?token=" + data.token);
                $('#linkModal').modal('show');
            }
        });

    }

    function linkAccesoPublicoConsumo(id, grupo) {
        $.ajax({
            type: "POST",
            url: "{% url 'get-token-publico' %}",
            data: {
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                'data': JSON.stringify({'id': id, 'grupo': grupo})
            },
            success: function(data) {
                $('#copyTarget').val("https://appgricultor.com/public/consumo?token=" + data.token);
                $('#linkModal').modal('show');
            }
        });

    }

    function frmCantidadStock(id, grupo) {
        idCli = id;
        idGrupo = grupo;
        bootbox.prompt({
            title: 'Cantidad Stock',
            inputType: 'number',
            callback: function(result) {
                setStock(result);
            }
        });
    }

    function setStock(cantidad) {
        $.ajax({
            type: "POST",
            url: "{% url 'set-cantidad-stock' %}",
            data: {
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                'cantidad': cantidad,
                'cliente_id': idCli,
                'grupo_id': idGrupo
            },
            success: function(data) {
                general.showNotificationOwn('top', 'center', 'success', 'Atención', 'Cantidad Stock Registrada');
                datos();
            }
        });

    }
    
    $(document).ready(function() {
        datos();

        $("#copyButton, #copyTarget").on("click", function() {
            copyToClipboard();
        });
    });
</script>

{% endblock javascripts %}